<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rides</title>
</head>
<body>
    {% block content %}
    {% if not user_profile.driver %}
    <a href="{% url 'users:regisdriver' user.id %}">Register for driver now!</a>
    {% endif %}
    <a href="{% url 'users:logout' %}">Log out</a>
    <h4>Hi {{ user.first_name }}, welcomes!</h4>
    <ul>Here are your rides:
        {% for ride in rides %}
        <li>
            <a href="{% url 'users:curtride' user.id ride.id %}">To {{ ride.destination }} before {{ ride.arrivaldate }}</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    {% if user_profile.driver %}
    <p>And here's your drive info as a driver:</p>
    {% if has_drive %}
    <p>Your drive to {{ drive.destination }} is going on!<a href="{% url 'users:complete' user.id ride.id %}">complete</a></p>
    {% else %}
    <a href="/">Find a new ride as driver!</a>
    {% endif %}
    {% endif %}
    <br>
    <a href="{% url 'users:newride' user.id %}">start a new ride now!</a>
    {% endblock %}
</body>
</html>
