<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rides</title>
</head>
<body>
    {% block content %}
    {% if not user_profile.driver %}
    <a href="{% url 'users:regisdriver' user.id %}">Register for driver now!</a>
    {% endif %}
    <a href="{% url 'users:logout' %}">Log out</a>
    <h4>Hi {{ user.first_name }}, welcomes!</h4>

    {% if openrides|length > 0 %}
    <ul>Here are your rides unconfirmed:
        {% for ride in openrides %}
        <li>
            <a href="{% url 'users:curtride' user.id ride.id %}">To {{ ride.destination }} before {{ ride.arrivaldate }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if confirmedrides|length > 0 %}
    <ul>Here are your rides unconfirmed:
        {% for ride in confirmedrides %}
        <li>
            <p>Driver id: {{ ride.driver_id }}</p>
            <p>To {{ ride.destination }} before {{ ride.arrivaldate }}</p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user_profile.driver %}
    {% if has_drive %}
    <h4>And here's your drive info as a driver:</h4>
    <p>Your drive to {{ drive.destination }} is going on!<a href="{% url 'users:complete' user.id drive.id %}">complete</a></p>
    {% else %}
    <a href="{% url 'users:findridedriver' user.id %}">Find a new ride as driver!</a>
    {% endif %}
    {% endif %}
    <br>
    <a href="{% url 'users:newride' user.id %}">start a new ride now!</a>
    {% endblock %}
</body>
</html>
