<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% block content %}
    <h2>Account Info</h2>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>

    <h2>My Profile</h2>
    <ul>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
        {% if user_profile.driver %}
        <p>Welcome driver!</p>
        {% else %}
        <p>Welcome rider!</p>
        {% endif %}

        {% if user.is_authenticated %}
        {% if not user_profile.driver %}
        <a href="{% url 'users:regisdriver' user.id %}">Register for driver!</a>
        {% endif %}
        {% endif %}
    </ul>
    {% endblock %}
</body>
</html>
